<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Instagram Clone - WEB</title>
		
		<!-- JQuery -->
		<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<script>
			$(document).ready(function(){

				function carrega_postagens(){
					var myXml = new XMLHttpRequest();
					myXml.open('GET', 'http://localhost:3000/api');
					myXml.onload = function() {
						if(myXml.status === 200){
							var data = $.parseJSON(myXml.responseText);

							data.forEach(element => {
								console.log(element);
								$('#container_timeline').append(
									'<div class="publicacao">'+
										 '<span class="titulo">'+
										 element.title+
										 '</span>'+
										 '<img class="img-fluid" src="http://localhost:3000/imagens/'+element.url_img+'"/>'+
										 '<div class="comentar">'+
										    '<input type="text" id="'+element._id+'" name="comentario" class="form-control input_comentario" placeholder="Digite seu comentário"/>'+
											'<button class="btn btn-default btn_postagem" type="button" value="'+element._id+'">Comentar</button>'+
										'</div>'+
									'</div>'
								);
							});
						}else {
							console.log('Café');
						}
						$('.btn_postagem').click(function() {
							let idBtn = this.value;
							let idInput = idBtn;
							let comentario = $('#'+idInput).val();
							var xmlAddComentario = new XMLHttpRequest();
							xmlAddComentario.open('PUT', 'http://localhost:3000/api/' + idBtn);
							xmlAddComentario.setRequestHeader('Content-Type', 'application/json');

							xmlAddComentario.onload = function(){
									if(xmlAddComentario.status === 200){
										window.location.href = '/home';
									}
								};

								xmlAddComentario.send(JSON.stringify({ comentario : comentario }));
						});
					};
					myXml.send();
				}

                carrega_postagens();
				$('#btn_incluir').click(function(){
					$('#container_timeline').hide();
					$('#container_form').show();
				});

				$('#btn-cancelar-publicacao').click(function(){
					$('#container_timeline').show();
					$('#container_form').hide();
					return false;
				});

				$('#btn-publicar').click(function(){
					// criando um obj formData
					var formData = new FormData();
					var arquivo = document.getElementById('arquivo').files[0];
					var titulo = document.getElementById('titulo').value;

					formData.append('arquivo', arquivo);
					formData.append('titulo',  titulo);

					// criando objeto xml http request
					var xmlHttp = new XMLHttpRequest();

					// modificação de estado
					xmlHttp.onreadystatechange = function() {
						if(xmlHttp.readyState == 4) {
							var resposta = xmlHttp.responseText;
							document.getElementById('mensagem').innerHTML;
						} 
					}

					// envio do request
					xmlHttp.open('POST', 'http://localhost:3000/api');
					xmlHttp.send(formData);
				});

			});
		</script>

	</head>

	<body>

		<nav class="navbar navbar-default">
			<div class="container">
				<div class="col-md-12">
					<div class="container-fluid">
						<img alt="Instagram Clone - Versão WEB" src="images/logo2.jpg" class="logo2">
						<img alt="Incluir" src="images/incluir.jpg" class="pull-right btn-incluir" id="btn_incluir">						
					</div>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="col-md-2"></div>
			<div class="col-md-8" id="container_timeline"></div>
			
		</div>


		<div class="container" style="display:none" id="container_form">
			<div class="panel panel-default">

			<div class="panel-heading"><h4>Publicar uma foto</h4></div>
			
			<div class="panel-body">
				<div class="form-group">
					<input type="file" name="arquivo" id="arquivo" class="form-control">
				</div>

				<div class="form-group">
					<input type="text" name="titulo" id="titulo" class="form-control" placeholder="Titulo" autocomplete="off">
				</div>

				<div class="form-group">
					<button class="btn btn-success" id="btn-publicar">Publicar</button>
					<button class="btn btn-danger" id="btn-cancelar-publicacao">Cancelar</button>
				</div>
				<div id="mensagem"></div>
			</div>
		</div>
	</body>
</html>